
<div style="background-color: #adb1b326; padding: 14px;border-color: #bcd6e036;border-style: solid;border-width: 1px;border-radius: 8px;">
<p style="font-size: 0.9rem;font-weight: 500;text-align: left;padding-bottom: 0px;margin-left: -5px;" >
  <span class="labelPageCaption"><i class="far fa-user-circle"></i>
  about me
</span>
</p>
I'm Alex Volok, a Microsoft Data Platform specialist from Delft, Netherlands. 
By having more than 15 years of experience in  Microsoft BI and SQL Server Data Engine, I am helping my customers get the maximum output from their data assets.
<br />

<a href="/about" style="font-size: small;"><div style="padding-top: 10px;"><i class="far fa-arrow-alt-circle-right"></i> read more</div></a>

</div>
<br />
<br />
