
<div style="background-color: #adb1b326; padding: 14px;border-color: #bcd6e036;border-style: solid;border-width: 1px;border-radius: 8px;">
<p style="font-size: 0.9rem;font-weight: 500;text-align: left;padding-bottom: 0px;margin-left: -5px;" >
  <span class="labelPageCaption"><i class="far fa-user-circle"></i>
  about me
</span>
</p>
I'm a freelance Microsoft Data Platform specialist from Delft, Netherlands. 
Does your BI team need a reinforcement? Outdated BI environment to be updated? Want to migrate data processes to Azure and need extra expertise? <a style="color: #076a90;" href="/about#contact">Contact me</a>.
<!-- <br />

<a href="/about" style="font-size: small;"><div style="padding-top: 10px;"><i class="far fa-arrow-alt-circle-right"></i> contact me</div></a> -->

</div>
<br />
<br />
